.flexbox div
{
    
    margin-top: 20px;
}
.flexbox
{
    display: flex;  
    flex-direction: row;
    margin-left: 40px;
    color:teal; 
}
.big
{
    font-size:30px;
    color:darkgrey;
}

#navbar
{
    width:101%;
  
    margin-top:-10px;
    margin-left:-12px;
    margin-right:0px;
     box-shadow: 5px 5px 10px teal;
    height:100px;

}
